body
{
	overflow: hidden;
	height: 100%;
	width: 100%;
	font-family: 'Helvetica';
}
.info-block,
.opacity-block
{
	position: fixed;
	width: 100%;
	height: 90%;
	top: 100%;
	z-index:-1;
}
.info-block
{
	background:transparent;
	z-index:2;
	height:100%;
	top:-110%;
	min-width: 300px;
}
.info-block .panel .panel-heading
{
	background: #fff;
	color: rgba(0,0,0,0.8);
}
.info-block .panel .panel-body
{
	color: #fff;
	overflow: scroll;
	height: 80%;
	background-color: rgba(98, 162, 164, 0.3);
}
.info-block .panel small
{
	color:#fff;
}
.info-block .panel
{
	height: 100%;
	width:98%;
	margin: 10px auto;
	background: transparent;
	min-width: 300px;
	min-height: 200px;
}
#logo
{
	margin:0 auto; 
	margin-top:-20px; 
	min-width:320px;
	min-height:360px;
	height: 100%;
	width: 100%;
	display: block;
	position: fixed;
	z-index: 0;
	left:auto;
}
.column-container
{
	position: relative;
	margin:0 auto;
	width:100%;
	max-width: 800px;
	z-index: 1000;
	opacity: 1;
	overflow: scroll;
}
.modal-body
{
	overflow: scroll;
}
a,
a:hover 
{
	text-decoration: none;
	color:#fff;
}
#instafeed
{
	margin: 0 auto;
	display: block;
    width: 100%;
}
#instafeed img 
{
	width: 200px;
	padding: 5px;

}
.background-area
{
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: none;
}